imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: resources.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources: ['bootstrap_3_layout.html.twig']

assetic:
    debug: '%kernel.debug%'
    use_controller: false
    filters:
        cssrewrite: ~

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   "%database_driver%"
                host:     "%database_host%"
                port:     "%database_port%"
                dbname:   "%database_name%"
                user:     "%database_user%"
                password: "%database_password%"
                charset:  "%database_charset%"
    orm:
        default_entity_manager: default
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Doctrine Migrations
doctrine_migrations:
    dir_name: "%kernel.root_dir%/migrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# FOSUserBundle
fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: AppBundle\Entity\User
    resetting:
        token_ttl: 86400
        email:
            from_email: # Use this node only if you don't want the global email address for the resetting email
                address:     "%mailer_sender_email%"
                sender_name: "%mailer_sender%"
            template:   FOSUserBundle:Resetting:email.txt.twig

# DoctrineExtensionBundle
stof_doctrine_extensions:
    default_locale: en_US
    uploadable:
        default_file_path: %kernel.root_dir%/../web/uploads
    orm:
        default:
            timestampable: true
            blameable: true
            uploadable: true

# KNPSnappyBundle
knp_snappy:
    pdf:
        enabled:    true
        binary:     /usr/local/bin/wkhtmltopdf
        options:
            print-media-type: true
    image:
        # wkhtmltoimage is not installed as not required yet
        enabled:    false

# PheanstalkBundle
leezy_pheanstalk:
    enabled: true
    pheanstalks:
        primary:
            server: 127.0.0.1
            default: true

# AuditBundle
xiidea_easy_audit:
    entity_class : AppBundle\Entity\AuditLog
    user_property : username
    doctrine_entities :
        AppBundle\Entity\Audit : [created, updated, deleted]
    events :
        - security.interactive_login
        - security.authentication.failure
        - fos_user.security.implicit_login
        - fos_user.change_password.edit.completed
    logger_channel:
        xiidea.easy_audit.logger.service: ["info"]

easy_admin:
    entities:
        - AppBundle\Entity\User

k_phoen_doctrine_state_machine:
    auto_injection:     true    # should we automatically inject state machines into hydrated objects?
    auto_validation:    true    # should we validate any status change before the persistence happens?
    state_machines:
        task_state_machine:
            class:      AppBundle\Entity\Task
            property:   state
            states:
                draft: { type: initial }
                new: ~
                wip: ~
                ready_for_review: ~
                in_review: ~
                ready_for_approval: ~
                in_approval: ~
                ready_for_publish: ~
                published: { type: final }
            transitions:
                ready_for_entry:    { from: [draft], to: new }
                start_entry:        { from: [new], to: wip }
                ready_for_review:   { from: [wip], to: ready_for_review }
                start_review:       { from: [ready_for_review], to: in_review }
                ready_for_approval: { from: [in_review], to: ready_for_approval }
                start_approval:     { from: [ready_for_approval], to: in_approval }
                ready_for_publish:  { from: [in_approval], to: ready_for_publish }
                publish:            { from: [ready_for_publish], to: published }

hwi_oauth:
    firewall_names: [main]
    connect:
        account_connector: app.provider.oauth
    resource_owners:
        google:
            type: google
            client_id: %google_oauth2_client_id%
            client_secret: %google_oauth2_client_secret%
            scope: %google_oauth2_scope%
            paths:
                email: email
            options:
                access_type: offline