{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pageTitle %}Create Task{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <form role="form" action="{{ path('task_create') }}" method="post" {{ form_enctype(form) }}>
                    <div class="box-body">
                        {{ form_widget(form) }}
                        <input class="btn btn-primary" type="submit" value=" Create Task "/>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}