{% extends '::base.html.twig' %}

{% block pageTitle %}Dashboard{% endblock %}

{% block body %}

{% set labels = ['Unassigned', 'In Progress', 'In Review', 'In Approval'] %}
{% set colors = ['bg-aqua', 'bg-green', 'bg-yellow', 'bg-red'] %}
{% set icons  = ['fa-tasks', 'fa-lock', 'fa-check-square', 'fa-check-square-o'] %}

<div class="row">

    {% for key in stats|keys %}
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box {{ colors[loop.index0] }}">
            <div class="inner">
                <h3>{{ stats[key] }}</h3>
                <p>Tasks {{ labels[loop.index0] }}</p>
            </div>
            <div class="icon">
                <i class="fa {{ icons[loop.index0] }}"></i>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}